h1{
  padding: 5px;
  background-color: gainsboro;
  width: fit-content;
  margin: 20px;
  border-radius: 5px;

}
button{
  padding: 10px 10px;
  margin: 20px 20px;
  background-color: gainsboro;
  border: 1px solid green;
}